<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DriverApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_fameko_driver"
        android:label="Fameko Driver"
        android:roundIcon="@drawable/ic_fameko_driver"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamekoDriver"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DriverLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DriverSignupActivity"
            android:exported="false" />
        <activity
            android:name=".DriverProfileActivity"
            android:exported="false"
            android:label="My Profile"
            android:theme="@style/Theme.FamekoDriver" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.famekodriver.driver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
