<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CustomerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_fameko_logo"
        android:label="Fameko Customer"
        android:roundIcon="@drawable/ic_fameko_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamekoDriver"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CustomerLoginActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerSignupActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerMapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
